@model IEnumerable<Model.Product>

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                @foreach (var item in Model)
                {
                    <div class="single-product col-md-3 col-lg-3 col-sm-12">
                        <div class="product-f-image">
                            <img src="@item.Image" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="/san-pham/@item.Title-@item.ID" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2><a href="san-pham/@item.Title">@item.Name</a></h2>

                        <div class="product-carousel-price">
                            <ins>@item.Price đ</ins> <del>@item.SalePrice đ</del>
                        </div>
                        <br />
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

