
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listall = (List<Model.ProductCategory>)ViewBag.Listall;
}

<br />
<div>
    <a href="@Url.Action("Product", "Product")" class="btn btn-primary"><span class="fa fa-backward"></span> Quay lại</a>
</div>
<br />
<h2>Thêm mới sản phẩm</h2>

<form>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-name">Product Name</label>
                <input type="text" id="product-name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-code">Product Code</label>
                <input type="text" id="product-code" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-title">Title</label>
                <input type="text" id="product-title" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-description">Description</label>
                <textarea id="product-description" name="product-description" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-image">Product Image</label>
                <input type="text" id="product-image" class="form-control" />
                <br />
                <a id="select-image" class="btn btn-primary">Chọn ảnh</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-moreimage">Product Details Image</label>
                <input type="text" id="product-moreimage" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-price">Price</label>
                <input type="number" id="product-price" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-saleprice">Sale Price</label>
                <input type="number" id="product-saleprice" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-quantity">Quantity</label>
                <input type="number" id="product-quantity" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-category">Category</label>
                <input list="category" id="product-category" class="form-control" />
                <datalist id="category">
                    @foreach (var item in listall)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="product-detail">Product Details</label>
                <textarea id="product-detail" name="product-detail" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="Saledate">Sale Date</label>
                <input type="datetime-local" id="Saledate" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-metakeyword">Product Meta Keyword</label>
                <input type="text" id="product-metakeyword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="product-metadescription">Product Meta Description</label>
                <input type="text" id="product-metadescription" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="status">Status</label>
                <div class="checkbox">
                    <input type="checkbox" id="status" checked />
                </div>
            </div>
        </div>
        <p id="message" class="text-danger"></p>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" class="btn btn-primary" id="CreateProduct">Thêm mới</a>
            </div>
        </div>
    </div>
    <br />
</form>



