@model Model.AdminUser

<tr id="tr-@Model.ID">
    <th>
        @Html.DisplayFor(Model => Model.Username)
    </th>
    <th>
        @Html.DisplayFor(Model => Model.Status)
    </th>
    <th>
        <button class="change btn-primary" id="@Model.ID">@(Model.Status ? "Vô hiệu hóa" : "Kích hoạt")</button>
    </th>
</tr>