@model Model.New

@{
    ViewBag.Title = "Thêm tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listall = (List<Model.NewCategory>)ViewBag.Category;
}

<br />
<div>
    <a href="@Url.Action("News", "New")" class="btn btn-primary"><span class="fa fa-backward"></span> Quay lại</a>
</div>
<br />
<h2>Thêm mới tin tức</h2>

<form>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="new-name">Name</label>
                <input type="text" id="new-name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-title">Title</label>
                <input type="text" id="new-title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-description">Description</label>
                <textarea id="new-description" name="new-description" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-image">Image</label>
                <input type="text" id="new-image" class="form-control" />
                <br />
                <a id="select-image" class="btn btn-primary">Chọn ảnh</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-moreimage">Details Image</label>
                <input type="text" id="new-moreimage" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-category">Category</label>
                <input list="category" id="new-category" class="form-control" />
                <datalist id="category">
                    @foreach (var item in listall)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-detail">Details</label>
                <textarea id="new-detail" name="new-detail" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-metakeyword">Meta Keyword</label>
                <input type="text" id="new-metakeyword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="new-metadescription">Meta Description</label>
                <input type="text" id="new-metadescription" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="new-tag">Tag</label>
                <input type="text" id="new-tag" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="status">Status</label>
                <div class="checkbox">
                    <input type="checkbox" id="status" checked />
                </div>
            </div>
        </div>
        <p id="message" class="text-danger"></p>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" class="btn btn-primary" id="CreateNew">Thêm mới</a>
            </div>
        </div>
    </div>
</form>